.card{
    width: 14vw;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    background-color: #ECECEC;
    box-sizing: border-box;
}

.imgWrapper :nth-child(1) > img{
    width: 50%;
}

.title{
    font-size: 3.5vh;
    color: black;
}
.btn{
    text-decoration: none;
    background-color: #3a3a3a;
    cursor: pointer;
    color: #ECECEC;
    height:30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: #3a3a3ad7;
}

@media all and (orientation: portrait){
    .card{
        width: 30%;
    }
    .title{
        font-size: 3vw;
    }
}