.modal{
    top: 15vh;
    position: fixed;
    z-index: 10;
    left: calc(50% - 17.5vw);
    width: 35vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 2vw 20px 2vw;
    background-color: #ECECEC;
    border: none;
    animation: scaleUp 0.5s ease-in-out;
}

@keyframes scaleUp {
    0%{
        scale: 70%;
    }
    100%{
        scale: 100%;
    }
}


.heading{
    font-size: 2vw;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 1vh;
}
.middle{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    overflow: auto;
    padding: 2px;
}
.middle > input{
    width: 100%;
    height: 20%;
    background-color: var(--secondary-light-color);
    color: var(--main-font-color);
    font-size: 1.3vw;
    border: 0;
    padding-left: 3%;
    padding-right: 3%;
    /* padding: 1%; */
}

.bottom{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10%;
}
.progressBar{
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-content: center;
    gap: 5px;
}
.progressBar > *{
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--main-accent-color);
    border-radius: 50%;
    margin-bottom: 2%;
    cursor: pointer;
    transition: width 0.5s;
}
.progressBar > .currentBar{
    width: 10%;
    background-color: var(--main-color);
    border-radius: 30px;
}

.formControl{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cancelBtn, .nextBtn{
    width: 25%;
    font-size: 1.5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cancelBtn{
    border: 1px solid var(--main-accent-color);
    color: var(--main-color);
}
.nextBtn{
    text-decoration: none;
    background-color: var(--main-color);
    /* background-color: var(--secordary-dark-color); */
    color: white;
}
.cancelBtn:hover{
    background-color: var(--main-accent-color);
}
.nextBtn:hover{
    background-color: var(--main-accent-color);
}


@media all and (orientation: portrait){
    .modal{
        min-width: 90vw;
        height: auto;
        aspect-ratio: 1 / 1;
        gap: 1.5vh;
        left: 5vw;
        padding-bottom: 1vh;
        overflow: auto;
    }
    .heading{
        margin-bottom: -0;
        font-size: 3vh;
    }
    .middle > input{
        font-size: 100%;
        padding: 7%;
        height: 15%;
    }
    .progressBar > div{
        height: 1vh;
    }
    .formControl > *{
        /* height: auto; */
        /* aspect-ratio: 3 / 1;     */
        padding: 2%;
        font-size: 100%;
    }
    
}