/* .container table{
  border: 1px solid #dfdfdf;
  border-spacing: none;
} */

/* .table td{
  padding: 1%;
  text-align: center;
  text-wrap: nowrap;
} */

.nameInput{
  border-style: none;
  /* border: 1px solid #353535; */
  height: 100%;
  width: 100%;
  /* background-color: #f0f0f0; */
  background-color: #00000015;
  padding: 0 20px;
  color: #000000BF;
}
.inputBox > form{
  width: 100%;
  height: 100%;
  color: white;
}
.inputBox{
  padding: 0;
  height: 30px;
}

.sno{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.numbers div{
  color: var(--main-color);
}

.table{
  width: 100%;
  box-sizing: border-box;
}
.table > h3{
  text-align: center;
}

.tableRow {
  text-align: center;
  word-wrap: nowrap;
  white-space: nowrap;
  text-overflow: normal;
  box-sizing: content-box;
  width: 100%;
  color: #000000BF;
}

.team{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}


.team div:nth-child(odd){
  background-color: #858AE34D;
}

.columnHeading{
  font-size: 20px;
  font-weight: 400;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color)
}