.navigationBar{
    background-color: var(--main-color);
    height: 10vh;
    width: 100%;
}

.navContainer {
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: flex-start;
    padding: 0 3%;
}

.logo{
    text-decoration: none;
    font-size: 5vh;
    font-weight: bold;
    color: white;
}
.profile{
    height: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: aliceblue;
    justify-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
}

.profile > *{
    margin-top: 7.5vh;
}