.navigationBar{
    background-color: var(--main-color);
    height: 10dvh;
    width: 100%;
    z-index: 1;
    position: relative;
}

.navContainer {
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: flex-start;
    padding: 0 3%;
}

.logo{
    text-decoration: none;
    font-size: 5dvh;
    font-weight: bold;
    color: white;
}
.profile{
    height: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: aliceblue;
    justify-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
}

.profile > *{
    margin-top: 7.5dvh;
}

/* for handheld devices */
@media (orientation: portrait){
    .navigationBar{
        height: 7dvh;
    }
    .logo{
        font-size: 3dvh;
    }
}