.container{
  /* might change it in future
  CHECK IT ONCE
  */
  display: flex;
  height: 100%;
  width: 100%;
  background-color:#0000001A;
}

.container > form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 39vh;
  width: 30vw;
  margin:5% auto;
  flex-direction:column;
  background-color: #F6F6F6;
  color: var(--main-font-color);
  border-radius: 12px;
  border: 1px solid #DADADA;
  box-shadow: 15px 15px 15px rgb(224, 224, 224);
  box-sizing: border-box;

}



.inpt{
  display: flex;
  flex-grow: 1;
  color: black;
}

.inpt{
  padding: 0 5%;
  height: 5vh;
  width: 80%;
  margin-top:10px;
  border: none;
  background-color: rgb(236, 236, 236);
  color: var(--main-font-color);
  border-radius: 7px;
}
.actionBar{
  height: 20%;
  display: flex;
  justify-content: center;
  width: 100%;
}


@media all and (orientation: portrait) {
  .container > form{
    width: 80dvw;  
  }
}


.title{
  font-size: 26px;
  color: #613DC1;
}
.body{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom{
  text-align: center;
  width: 80%;
  height: 40px;
}

.sbmt{
  width: 60%;
  height: 100%;
  padding: 0 5%;
  border: none;
  border-radius:10px;
  font-size: 20px;
  height: 40px;
  background-color: #613DC1;
}
.login{
  color: #613DC1;
  font-size: 12px;
}