.container > form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 30vw;
  margin:5% auto;
  flex-direction:column;
  background-color: rgb(247, 247, 247);
  box-shadow: 15px 15px 15px rgb(165, 165, 165);
  color: var(--main-font-color);
  border-radius: 12px;
  box-sizing: border-box;
}



.inpt, .sbmt{
  display: flex;
  flex-grow: 1;
  color: black;
}

.inpt{
  padding: 0px 10px;
  width: 80%;
  margin: 10px 0px;
  border: none;
  background-color: rgb(236, 236, 236);
}
.sbmt{
  width: 90%;
  /* padding: 0 5%; */
  height: 10px;
  margin-top: 30px;
  border: none;
  border-radius:10px;
  background-color: #613DC1;
}

@media all and (orientation: portrait) {
  .container > form{
    width: 80dvw;
    border: 1px solid #d3d3d3;
  }
  .inpt{
    height: 1px;
  }
}