.heroSection{
    min-height: 20vh;
    background-color: var(--main-color);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* display: grid; */
    /* grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 5%;
    box-sizing: border-box;

}
.logoImg{
    /* hw */
    width: 10vw;
    /* width: 100px; */
    /* margin-bottom: -42px; */
}

.heroSection > div{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;

    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;

}

.heroSection :nth-child(1), .heroSection :nth-child(3){
    align-items: flex-end;
}

@media all and (orientation: portrait) {
    /* Content for tall screens (height > width) */
    /* Add your styles here */
    .heroSection{
        flex-direction: column;
    }
    .leftBanner, .rightBanner {
        /* flex-direction: column; */
        display: flex;
        /* flex-wrap: wrap; */
        /* border: 1px solid white; */
        align-content: center;
    }
    .leftBanner > img, .rightBanner > img{
        width: 20%;
        justify-self: center;
        /* border: 1px solid red; */
    }
    

  }



/* .leftBanner :nth-child(1){
    width: 6vw;
}
.leftBanner :nth-child(2){
    width: 6vw;
    margin-bottom: 7%;
}
.leftBanner :nth-child(3){
    width: 12vw;
}
.rightBanner :nth-child(3){
    margin-bottom: 20%;
    width: 5vw;
} */



.container{
    width: 21vw;
}

.holders{
    width: 100%;
    height: 0.7vw;
    justify-content: center;
    display: flex;
}
.holders > div{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 10%;
}
.holder{
    height: 100%;
    aspect-ratio: 2 / 1;
    background-color: var(--main-accent-color);
}

.board{
    /* height: 94%; */
    width: 100%;
    aspect-ratio: 2 / 1;
    background-color: var(--main-accent-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pane{
    height: 85%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: white;
    font-size: 5vw;
    font-weight: 600;
    color: black;
}

.dots{
    width: 7.5%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30%;
}

.dot{
    width: 60%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #6D6D6D;
}