.container{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-self: center;
}

.overContainer{
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    width: 400px;
    height: 200px;

}

.overContainer > div{
    width: 20px;
    height: 20px;
    background-color: grey;
    color: black;
}