.over{
    aspect-ratio: 19 / 18;
    width: 190px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.balls{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.balls > div{
    aspect-ratio: 1 / 1;
    width: 60px;
    /* width: calc(100% - 10px); */
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overDetails{
    width: 100%;
    height: 50px;
    background-color: #1E1E1E;
}
.overScore{
    width: 100%;
    height: 20px;
    display: flex;
}
.overScore > div{
    width: 50%;
    height: 100%;
    text-align: center;
    color: #CDCDCD;
}
.bolwername{
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: #FFF;
}
