.icon{
  display: flex;
  min-width: 10px;
  /* width: 5vw; */
  aspect-ratio: 1 / 1;
  
  border-radius: 50%;
  box-sizing: border-box;
  width: clamp(50px, 6vw, 48px);
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}